*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-search form{
    display: inline-flex;
}

.site-navbar {
    background: #fff;
}

.site-navbar-top{
    padding-top: 39px;
    padding-bottom: 39px;
    border-bottom: 1px solid #f3f3f4;
} 

.form-search form i{
    color: #868995;
    margin-top: 9px;
}

.form-search form input{
    height: 30px;
    padding: 15px 5px;
    margin-left: 10px;
    border: none;
    outline: none;  
}

.form-search form input:focus{
  transform: translateX(-10px);
}

.site-navbar .site-logo a {
    text-transform: uppercase;
    color: #25262a;
    letter-spacing: .2em;
    font-size: 15px;
    padding:4.5px 4px ;
    border: 2px solid #25262a;
    cursor: pointer;
    text-decoration: none;
}

.site-navbar .site-top-icons ul{
    display: inline-flex;
    list-style: none;
}

.site-navbar .site-top-icons .icons li i{
    margin: 7px;
    font-size: 15px;
    color: #868995;
}

.site-navbar .site-top-icons .icons li a:hover i{
    color: #121213;
}

.shopping-cart{
    position: relative;
}

.shopping-cart .count{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -11px;
    margin-top: -18px;
    font-size: 13px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 50%;
    text-align: center;
    background: #7971ea;
    color: #fff;
    transition: .2s all ease-in-out;
}

.shopping-cart:hover .count{
    transform: translateY(-2px);
    box-shadow: 1px 4px 10px rgb(204, 202, 202);
}

.collapse .navbar-nav li a{
    margin: 8px;
    font-size: 13px;
    color: black;
    cursor: pointer;
}

.collapse .navbar-nav .active{
    color: blue;
}

.collapse .navbar-nav li i{
    margin: 5px;
}
.bannar{
    background-image: url(../images/hero_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.bannar .container .row{
    height: 600px;
}

.bannar .container .row h1 {
    font-size: 50px;
    font-weight: 900;
    color: #000;  
}

.bannar .container .row p {
    color: #333333;
    font-size: 20px;
    line-height: 35px;
}

.bannar .container .row a {
    cursor: pointer;
    font-weight: 400;
    letter-spacing: .2em;
    text-transform: uppercase;
    font-size: 14px ;
    padding: 10px 20px ;
    color: #fff;
    background-color: #7971ea;
    line-height: 1.5;
    border-radius: 0.2rem;
    border-color: #7971ea;
    text-align: center;
    position: absolute;
    margin-top: 10px;
    text-decoration: none;  
    transition: .2s all ease-in-out;
}

.bannar .container .row a:hover{
    background-color: #655ce2;
    transform: translateY(-3px);
    box-shadow: 1px 4px 10px rgb(12, 12, 12);
}

.Services{
    background-color: #fff;
    border-bottom: 1px solid #f3f3f4;
  
}

.Services .row{
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;  
    
}

.Services .row .card{
    max-width: 400px;
}

.Services .row .card .row i{
    font-size: 35px;
    color: #7971ea;
}



/************************ Start Media Query *****************************/

@media only screen and (min-width: 0px) and (max-width: 575px){
    
}