*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/******************************************************* Start Index page ************************8888****************/

/******************* Top Header start *************/
.form-search form{
    display: inline-flex;
}

.site-navbar {
    background: #fff;
}

.site-navbar-top{
    padding-top: 39px;
    padding-bottom: 39px;
    border-bottom: 1px solid #f3f3f4;
} 

.form-search form i{
    color: #868995;
    margin-top: 9px;
}

.form-search form input{
    height: 30px;
    padding: 15px 5px;
    margin-left: 10px;
    border: none;
    outline: none;  
}

.form-search form input:focus{
  transform: translateX(-10px);
}

.site-navbar .site-logo a {
    text-transform: uppercase;
    color: #25262a;
    letter-spacing: .2em;
    font-size: 15px;
    padding:4.5px 4px ;
    border: 2px solid #25262a;
    cursor: pointer;
    text-decoration: none;
}

.site-navbar .site-top-icons ul{
    display: inline-flex;
    list-style: none;
}

.site-navbar .site-top-icons .icons li i{
    margin: 7px;
    font-size: 15px;
    color: #868995;
}

.site-navbar .site-top-icons .icons li a:hover i{
    color: #121213;
}

.shopping-cart{
    position: relative;
}

.shopping-cart .count{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -11px;
    margin-top: -18px;
    font-size: 13px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 50%;
    text-align: center;
    background: #7971ea;
    color: #fff;
    transition: .2s all ease-in-out;
}

.shopping-cart:hover .count{
    transform: translateY(-2px);
    box-shadow: 1px 4px 10px rgb(204, 202, 202);
}
/******************* Top Header End ****************/

/****************** Navbar start *******************/
.collapse .navbar-nav li a{
    margin: 8px;
    font-size: 13px;
    color: black;
    cursor: pointer;
}

.collapse .navbar-nav .active{
    color: blue;
}

.collapse .navbar-nav li i{
    margin: 5px;
}
/****************** Navbar End *******************/

/****************** Bannar start *******************/
.bannar{
    background-image: url(../images/hero_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.bannar .container .row{
    height: 600px;
}

.bannar .container .row h1 {
    font-size: 50px;
    font-weight: 900;
    color: #000;  
}

.bannar .container .row p {
    color: #333333;
    font-size: 20px;
    line-height: 35px;
}

.bannar .container .row a {
    cursor: pointer;
    font-weight: 400;
    letter-spacing: .2em;
    text-transform: uppercase;
    font-size: 14px ;
    padding: 10px 20px ;
    color: #fff;
    background-color: #7971ea;
    line-height: 1.5;
    border-radius: 0.2rem;
    border-color: #7971ea;
    text-align: center;
    position: absolute;
    margin-top: 10px;
    text-decoration: none;  
    transition: .2s all ease-in-out;
}

.bannar .container .row a:hover{
    background-color: #655ce2;
    transform: translateY(-3px);
    box-shadow: 1px 4px 10px rgb(12, 12, 12);
}
/****************** Bannar End *******************/

/****************** Services Start *******************/

.Services{
    background-color: #fff;
    border-bottom: 1px solid #f3f3f4;
  
}

.Services .row{
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;  
    
}

.Services .row .card{
    max-width: 400px;
}

.Services .row .card .row i{
    font-size: 35px;
    color: #7971ea;
}
/****************** Services End *******************/

/****************** Collections Images Start *******************/
.section-collections-images{
    background-color: #fff;
}

.collections-images{
    margin: 100px 0;
}
.box{
    position: relative;
    cursor: pointer;
}

.section-collections-images .row .box .img{
    overflow: hidden;
}
.section-collections-images .row .box img{
    
    z-index: 0;
    width: 100%;
    transition: transform 0.7s ease-in-out;
}

.section-collections-images .row .box:hover img {
    transform: scale(1.1);
    transition: 0.7s;
}

.text{
    position: absolute;
    bottom: 0;
    left: 35px;
    color: #fff;
    z-index: 2;
}

.text span{
    font-size: 13px;
    font-weight: 500;
    letter-spacing: .1em;
}

.section-collections-images .row .box  .filter {
    width: 92%;
    margin-left: 15px;
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -moz-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
}
/****************** Collections Images End *******************/

/****************** Slidshow Start *******************/
.slidshow{
    background-color: #f8f9fa;
    padding-bottom: 100px;
}

.slidshow .images{
    justify-content: center;
}

.slidshow .images .card{
    margin: 10px;
    width: 21rem;
}

.slidshow .container .row .heading{
    margin-top: 60px;
    margin-bottom: 40px;
}

.slidshow .container .row .heading hr{
    width: 50px;
    margin: 20px auto;
    border: 1px solid #7971ea;
}

.slidshow .row .card .card-body {
   text-align: center;
   padding: 50px;
}

.slidshow .row .card .card-body h5,
.slidshow .row .card .card-body p{
    margin: 0;
}

.slidshow .row .card .card-body h5 a{
    text-decoration: none;
    color: #7971ea;
}

.slidshow .row .card .card-body span{
    font-weight: 1000;
    color: #7971ea;
}
/****************** Slidshow End *******************/

/****************** items-less Start *******************/
.items-less{
    background-color: #fff;
    padding-bottom: 100px;
    border-bottom: 1px solid #f3f3f4;
}

.items-less .container .row .heading{
    margin-top: 60px;
    margin-bottom: 40px;
}

.items-less .container .row .heading hr{
    width: 50px;
    margin: 20px auto;
    border: 1px solid #7971ea;
}

.items-less .container .row .content{
    margin-top: 90px;
    text-align: center;
}

.items-less .container .row .content {
    color: #8c92a0;
}

.items-less .container .row .content h2,
.items-less .container .row .content .post-meta a{
    color: #7971ea;
}

.items-less .container .row .content .link{
    cursor: pointer;
    font-weight: 400;
    letter-spacing: .2em;
    text-transform: uppercase;
    font-size: 14px ;
    padding: 10px 20px ;
    color: #fff;
    background-color: #7971ea;
    line-height: 1.5;
    border-radius: 0.2rem;
    border-color: #7971ea;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;  
    transition: .2s all ease-in-out;
}

.items-less .container .row .content .link:hover{
    background-color: #655ce2;
    transform: translateY(-3px);
    box-shadow: 1px 4px 10px rgb(12, 12, 12);
}
/****************** items-less End *******************/

/****************** footer Start *******************/
.footer{
    background-color: #fff;
}

.footer .container .row{
    margin:70px auto ;
}

.footer a{
    text-decoration: none;
}

.footer .container .row .navigations-link{
    padding-top: 40px;
}

.footer .container .row .promo-contact{
    width: 250px;   
}

.footer .container .row .promo-contact img{
    width: 250px;   
}

.footer .container .row .promo-contact .img-title{
    color: #7971ea;
    display: block;
    margin-top: 15px;   
}

.footer .container .row .promo-contact a{
    color: black;
}

.footer .contact-link{
    margin-left: 90px;
}

.footer .contact-link i{
    color: #7971ea;
    margin-right: 10px;
    font-size: 15px;
}

.footer .contact-link .form-title{
    font-size: 20px;
    margin-top: 70px;
}
.footer .contact-link .input-group{
    padding: 3px; 
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-top: 5px;
}

.footer .contact-link .input-group input{
    border: none;
} 

.footer .contact-link .input-group input:focus{
    box-shadow: inset 0 0px 0 #ddd;
}

.footer .contact-link .input-group .btn{
background-color: #7971ea;
color: #fff;
border-radius: 5px;
cursor: pointer;
letter-spacing: .2em;
text-transform: uppercase;
margin-left: 1px;
} 

.footer .contact-link .input-group .btn:hover{
    box-shadow: 1px 1px 5px rgb(12, 12, 12);
}

.copyright{
    line-height: 1.7;
    color: #8c92a0;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 50px;
}
/****************** footer End *******************/

/************** Start Media Query for Index page ***********/

@media only screen and (min-width: 0px) and (max-width: 575px){
    .footer .contact-link{
        margin-left: 0;
    }
    
    .bannar .container .row h1 {
        font-size: 25px;  
    }
    .section-collections-images .row .box  .filter {
        width: 91%;
    }
    .bannar .container .row .banner-contant{
       margin-top: 50px;
    }
    .bannar .container .row {
        height: 620px;
    }
    .bannar .container .row a{
        margin-left: -70px;
    }
    .site-navbar .site-top-icons ul{
        margin-top: 30px;
    }
    .Services .row .card .row i{
        margin-left: 10px;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px){
    .site-navbar .site-top-icons ul{
        margin-top: 20px;
    }
    .footer .contact-link{
        margin-left: 0;
    }
    .section-collections-images .row .box  .filter {
        width: 88%;
    }
    .bannar .container .row h1 {
        font-size: 30px;  
    }
    .bannar .container .row .banner-contant{
        margin-top: 50px;
     }
     .bannar .container .row a{
        margin-left: -70px;
    }
    .Services .row .card .row i{
        margin-left: 15px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    .footer .contact-link{
        margin-left: 0;
        background-color: #fff;
    }
    .section-collections-images .row .box  .filter {
        width: 88%;
    }
    
}
@media only screen and (min-width: 992px) and (max-width: 1199px){
    .footer .contact-link{
        margin-left: 1px;
    }
    .section-collections-images .row .box  .filter {
        width: 90%;
    }
}

/*********** End Media Query for Index page ***********/

/************************************************************ End Index page ********************************************/

/************************************************************ Start About page ********************************************/

/*************** Stared-Section Statr ***********/
.Stared-Section{
    background-color: #fff;
    border-bottom: 1px solid #f3f3f4;
}

.Stared-Section .container .row {
    margin: 100px auto;
} 

.Stared-Section .container .row .description{
    margin-left: 60px;
    margin-bottom: 20px;
} 

.Stared-Section .container .row .description hr{
    width: 50px;
    border: 1px solid #7971ea;      
}

.Stared-Section .container .row .description p{
    color: #8c92a0;
}
/*************** Stared-Section End ***********/

/**************** The Team Start ****************/
.the-team{
    background-color: #fff;
    padding-bottom: 100px;
    border-bottom: 1px solid #f3f3f4;
}

.the-team .container .row .heading{
    margin-top: 60px;
    margin-bottom: 40px;
}

.the-team .container .team-images{
    justify-content: center;
}

.the-team .container .row .heading hr{
    width: 50px;
    margin: 20px auto;
    border: 1px solid #7971ea;
}

.the-team .container .row .card span{
    font-size: 12px;
    color: #8c92a0;
    letter-spacing: .1em;
}

.the-team .container .row .card p{
    color: #8c92a0;
}
/**************** The Team End ****************/

/**************** Start Media Query for about page *****************/
@media only screen and (min-width: 0px) and (max-width: 575px){
    .Stared-Section .container .row .description{
        margin-left: 0px;
        margin-bottom: 0px;
        margin-top: 20px;
    } 
}
@media only screen and (min-width: 576px) and (max-width: 767px){
    .Stared-Section .container .row .description{
        margin-left: 0px;
        margin-bottom: 0px;
        margin-top: 20px;
    } 
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    .Stared-Section .container .row .description{
        margin-left: 0px;
        margin-bottom: 0px;
    } 
}
/*************** End Media Query for about page **********/

/************************************************************ End About page ********************************************/

/************************************************************ Start Contact-us page ********************************************/

/************* Form-section Start*********/
.form-section{
    background-color: #fff;
    border-bottom: 1px solid #f3f3f4;
}
.form-section .row{
    margin: 100px auto;
    justify-content: space-between;
    
}
.form-contant{
    width: 130%;
    border: 2px solid #f3f3f4;
    padding: 30px;
}
.adress{
    margin-top: 40px;
}
.adress .card{
    margin: 10px auto;
    border: 2px solid #f3f3f4;
}

.card-body h6{
    color: #7971ea;
}

.card-body p{
    color: #8c92a0;
}

.button-send{
    background-color: #7971ea;
    text-align: center;
    border-radius: 5px;
}

.button-send button{
    color: #fff;
    cursor: pointer;
    font-weight: 400;
    letter-spacing: .2em;
    text-transform: uppercase;
    font-size: 14px ;
    padding: 10px 20px ;
    line-height: 1.5; 
    transition: .2s all ease-in-out;
} 

.button-send:hover{
    background-color: #655ce2;
    transform: translateY(-3px);
    box-shadow: 1px 4px 10px rgb(12, 12, 12);
}